@font-face {
  font-family: "Gilroy-semibold";
  src: url("../Gilroy-SemiBold.woff") format("woff"),
    url("../Gilroy-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-bold";
  src: url("../Gilroy-Bold.woff") format("woff"),
    url("../Gilroy-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-medium";
  src: url("../Gilroy-Medium.woff") format("woff"),
    url("../Gilroy-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-regular";
  src: url("../Gilroy-Regular.woff") format("woff"),
    url("../Gilroy-Regular.woff2") format("woff2");
  font-displat: swap;
}
html {
  overflow-y: scroll;
}
body {
  overflow-y: scroll;
  overflow: auto;
  position: absolute;
}
.btn1:hover {
  font-size: 16px;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #fafafa;
}
body .header {
  height: 14.6%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 3em;
}
.btns {
  width: 170px;
  height: 43px;
  background-color: #fcddec;
}
.sidebar {
  overflow: hidden;
  background-color: #ffff;
  top: 14.61%;
  width: 45px;
  height: 80.45%;
  left: 0px;
  position: absolute;
}
.home {
  position: absolute;
  top: 24.8%;
  left: 10px;
}
.consult {
  top: 35.64%;
  position: absolute;
  left: 10px;
}
.appointment {
  top: 46.9%;
  position: absolute;
  left: 10px;
}
.chats {
  position: absolute;
  top: 59.07%;
  left: 10px;
}
.settings {
  position: absolute;
  top: 77.98%;
  left: 10px;
}
.logout {
  position: absolute;
  top: 87.54%;
  left: 10px;
}
.sidebar > a:hover {
  font-size: 2.5em;
}
.profile {
  display: flex;
}
.icon {
  display: flex;
  border-radius: 97px;
  width: 97px;
  height: 97px;
  margin-left: 5.1%;
  margin-top: 48px;
  font-family: "Gilroy-semibold";
  font-size: 32px;
  align-content: center;
  justify-content: center;
  background-color: #e1e1e1;
  align-items: center;
}
.name {
  font-size: 32px;
  font-family: "Gilroy-semibold";
  margin-left: 12px;
  margin-top: 81px;
}
.line {
  margin-left: 27px;
  margin-top: 63px;
  width: 35px;
  height: 0px;
}
.age {
  font-size: 32px;
  line-height: 32px;
  font-family: "Gilroy-semibold";
  margin-top: 82px;
}
.btn1 {
  margin-left: 5.14%;
  margin-top: 73px;
  color: white;
  border: none;
  width: 275px;
  height: 45px;
  background: linear-gradient(180deg, #088dff 0%, #066ac3 100%);
  box-shadow: 4.24544e-16px 6.93333px 13.8667px rgba(51, 51, 51, 0.1245);
  border-radius: 24px;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-container h2 {
  margin-top: 8.08%;
  margin-left: 96px;
  font-size: 32px;
  line-height: 32px;
  font-family: "Gilroy-medium";
}
.flex-container ul {
  margin-top: 2em;
  margin-left: 96px;
}
.flex-container li {
  margin-top: 2.5em;
  list-style-type: none;
  display: inline;
  padding-right: 96px;
}
.flex-container li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  line-height: 32px;
  font-family: "Gilroy-medium";
}
.flex-container p {
  font-family: "Gilroy-medium";
  font-size: 22px;
  line-height: 32px;
  text-align: justify;
}
.flex-container li a:hover,
a:active {
  border: 230px;
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 18px;
}
#active > a:link {
  border: 230px;
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 18px;
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact h2 {
  margin-top: 4.98%;
  margin-left: 96px;
  font-size: 32px;
  line-height: 32px;
  font-family: "Gilroy-medium";
}
.info {
  display: flex;
  flex-direction: row;
  width: 667px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.p1 {
  margin-left: 14.76%;
  margin-top: 6.92%;
  margin-bottom: 15px;
}
.p2,
.p3 {
  margin-bottom: 15px;
  margin-left: 14.76%;
  margin-top: 0.5em;
}
.value {
  margin-bottom: 15px;
  margin-left: 9em;
  text-indent: 6px;
  margin-top: 6.92%;
  font-family: "Gilroy-bold";
}
.value1 {
  margin-bottom: 15px;
  margin-left: 6.5em;
  text-indent: 6px;
  margin-top: 0.5em;
  font-family: "Gilroy-bold";
}
.value2 {
  margin-bottom: 15px;
  margin-left: 5em;
  text-indent: 6px;
  margin-top: 0.5em;
  font-family: "Gilroy-bold";
}
hr {
  border: 0.2px solid #b8b8b8;
  width: 622px;
  height: 0px;
  margin-left: 95px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: 1em;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  font-family: "Gilroy-regular";
  display: none;
  padding-left: 5em;
  padding-right: 5em;
  position: absolute;
  justify-content: center;
  background-color: #f9f9f9;
  width: -webkit-fill-available;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 18px 18px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}
.latestdigno {
  position: relative;
  top: -532px;
  left: 76.09%;
  /* margin-left: 76.09%; */
  display: flex;
  flex-direction: column;
}

.latestdigno h2 {
  font-family: "Gilroy-semibold";
  font-size: 32px;
}
.diagnosis {
  position: absolute;
  margin-top: 5em;
  padding: 1em;
  font-family: "Gilroy-regular";
  /* margin-left: 76.09%; */
  /* display: flex; */
  justify-content: left;
  /* align-items: flex-start; */
  height: 207px;
  width: 19.84%;
  background-color: #ffff;
  box-shadow: 1px 10px 23px #ebeef2;
  border-radius: 18px;
}
.checkup {
  display: flex;
  flex-direction: row;
}
.heartrate {
  display: flex;
  flex-direction: column;
}
.heartrate h2 {
  font-family: "Gilroy-medium";
  font-size: 32px;
  margin-top: 72px;
  margin-left: 96px;
}
.hrr {
  margin-top: 2em;
  background-color: #ffff;
  margin-left: 96px;
  width: 462px;
  height: 321px;
}
.d3 {
  padding-top: 1.5em;
  margin-top: 2em;
  background-color: #ffff;
  margin-left: 96px;
  width: 340px;
  height: 431px;
}
.list li {
  font-family: "Gilroy-medium";
  font-size: 22px;
  margin-top: 0.5em;
  margin-left: 4em;
  color: #51b7b7;
}
.list span {
  color: black;
}
.arrow2 {
  position: relative;
  top: 9em;
  margin-left: 19.3em;
}
.bpm {
  font-family: "Gilroy-medium";
  font-size: 30px;
  margin-left: 1.3em;
  margin-top: 0.5em;
}
.nm {
  font-family: "Gilroy-medium";
  font-size: 26px;
  margin-left: 1.5em;
  margin-top: 0.5em;
}
.vector {
  margin-top: 4em;
  margin-left: 12em;
}
.arrow {
  margin-left: 7em;
}
.record {
  font-family: "Gilroy-medium";
  font-size: 22px;
  color: #a4a4a4;
  margin-left: 1.5em;
  margin-top: 0.5em;
}
.sugar {
  flex-direction: column;
}
.pressure {
  display: flex;
  flex-direction: column;
}
.pressure h2 {
  font-family: "Gilroy-medium";
  font-size: 32px;
}
.sugar h2 {
  font-family: "Gilroy-medium";
  font-size: 32px;
  margin-top: -389px;
  margin-left: 607px;
}
.d2 {
  margin-top: 2em;
  background-color: #ffff;
  margin-left: 602px;
  width: 462px;
  height: 321px;
}
.vector1 {
  margin-left: 1.5em;
  margin-top: 3em;
}
.arrow1 {
  margin-top: 135px;
  margin-left: 18em;
}
.diagnosis1 {
  position: absolute;
  margin-top: 9em;
  padding: 1em;
  font-family: "Gilroy-regular";
  /* margin-left: 76.09%; */
  /* display: flex; */
  justify-content: left;
  /* align-items: flex-start; */
  height: 207px;
  width: 19.84%;
  background-color: #ffff;
  box-shadow: 1px 10px 23px #ebeef2;
  border-radius: 18px;
}
.latestdigno1 {
  position: relative;
  top: -1364px;
  left: 76.09%;
  /* margin-left: 76.09%; */
  display: flex;
  flex-direction: column;
}
#hh2 {
  margin-left: 0px;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    position: fixed;
  }
  .profile {
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-right: 4em; */
    align-content: center;
    justify-items: center;
  }
  .icon {
    margin-left: 22px;
  }
  .name {
    display: grid;
    font-size: 22px;
    margin-top: 46px;
    margin-left: -75px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .line {
    position: absolute;
    margin-left: 154px;
    margin-top: 127px;
  }
  .age {
    position: absolute;
    font-size: 22px;
    margin-top: 193px;
    margin-left: 219px;
  }
  .btn1 {
    position: absolute;
    width: 180px;
    margin-top: 3em;
    position: absolute;
    margin-left: -6em;
  }
  .flex-container {
    margin-left: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -ms-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .flex-container ul {
    display: flex;
    margin-top: 2em;
    /* margin-left: 96px; */
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
  .flex-container h2 {
    margin-top: 119px;
    margin-left: 81px;
    font-size: 32px;
    line-height: 32px;
    font-family: "Gilroy-medium";
  }

  .li {
    display: flex;
    flex-direction: column;
  }
  .contact {
    margin-left: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -ms-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contact h2 {
    margin-left: 0px;
    font-size: 32px;
    line-height: 32px;
    font-family: "Gilroy-medium";
    margin-top: 2em;
  }
  .p1,
  .p2,
  .p3 {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .value,
  .value1,
  .value2 {
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    text-indent: 6px;
    font-family: "Gilroy-bold";
    margin-right: 2em;
  }

  hr {
    width: 65%;
    margin-left: 16px;
  }
  .info {
    width: -webkit-fill-available;
    flex-direction: column;
  }
  .btn1:hover {
    font-size: 12px;
  }
  .dropdown-content {
    display: none;
    margin-left: -3.5em;
    margin-top: 5em;
    padding: 0px;
    background-color: #f9f9f9;
    width: max-content;
  }
  .latestdigno {
    left: 3.3em;
    display: flex;
    /* margin-top: 2em; */
    top: 4em;
    width: 90%;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .diagnosis {
    position: relative;
    margin-bottom: 2em;
    justify-content: center;
    width: 87.84%;
    display: flex;
    margin-top: 2em;
  }
  .latestdigno1 {
    left: 1em;
    display: flex;
    /* margin-top: 2em; */
    top: 5em;
    top: 0em;
    width: 90%;
    align-items: center;
    align-content: center;
  }
  .diagnosis1 {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;
    width: 93.84%;
    display: flex;
  }
  .pressure {
    margin-left: 0.5em;
    width: -webkit-fill-available;
    align-items: center;
  }
  .hrr,
  .d3 {
    margin-left: 4em;
    margin-right: 2.5em;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .list li {
    margin-left: 0.5em;
  }
  .arrow2 {
    position: relative;
    top: 4em;
    margin-left: 36em;
  }
  img {
    margin-right: 1.5em;
    display: flex;
    width: -webkit-fill-available;
  }
  .heartrate {
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .heartrate h2 {
    margin-left: 0px;
  }
  .arrow,
  .arrow1 {
    margin-top: 0px;
    margin-left: 36em;
  }
  .bpm,
  .vector,
  .nm {
    margin-left: 0px;
  }
  .record {
    text-align: center;
    font-size: 20px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 1em;
  }
  .sugar {
    margin-left: 0.5em;
    width: -webkit-fill-available;
    margin-top: 27em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .d2 {
    margin-left: 4em;
    margin-right: 2.5em;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  .arrow,
  .arrow1 {
    margin-top: 0px;
    margin-left: 13em;
  }
  .arrow2 {
    position: relative;
    top: 4em;
    margin-left: 12em;
  }
  .latestdigno {
    left: 2.3em;
  }
  .diagnosis {
    width: 77.84%;
  }
  .diagnosis1 {
    width: 74.84%;
  }
}
